<!-- <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script> -->
<!-- head - Googlefonts link -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="outside">
            <h1 class="display-4 text-center margin-bottom-50" id="title"><%= t('application_form.title')%></h1>
            <p class=" margin-bottom-30 text-center" id="description"><%= t('application_form.text')%></p>
            <%- if flash.any? %>
              <%- flash.each do |type, msg| %>
                <%- alert = type == "alert" ? 'danger' : 'success' %>
                <div class="alert alert-<%= alert %>  col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2" role="alert">
                  <%= msg %>
                </div>
              <% end %>
            <% end %>
            <!-- ------------------Personal Details---------------------------- -->
            <fieldset>
              <%= render partial: "shared/breadcrumbs" %>
              <!-- groups of widgets that share the same purpose, for styling and semantic purposes -->
              <h2 class="bg-black-02 padding-20 border-radius-10 text-center font-weight-semi-bold">
                <%= t('application_form.personal_details')%>
              </h2>
              <!-- formally describes the purpose of the fieldset it is included inside. -->
              <%= form_with(model: @volunteer, url: volunteers_path, method: :post, local: true) do |f| %>
                <%= render partial: "personal_details", locals: {f: f} %>
                <!-- ------------------Personal Details SECOND PERSON---------------------------- -->
                <%= render partial: "personal_details_partner", locals: { f: f } %>

                <%= render partial: "when_to_travel", locals: { f: f } %>

                <%= render partial: "apply_to_volunteer", locals: { f: f } %>

                <div id="submitbutton">
                  <%= f.submit t('application_form.send_application'), class: "button button-lg button-fill-left-outline button-rounded margin-top-30 font-weight-semi-bold" %>
                </div>
              <%- end %>
            </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scrolltotop scrolltotop-show">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"><i class="ti-arrow-up"></i></a>
</div>

<%= javascript_include_tag "volunteers/new.js" %>
