<div class="section">
  <%- if flash.any? %>
    <%- flash.each do |type, msg| %>
      <%- alert = type == "alert" ? 'danger' : 'success' %>
      <div class="alert alert-<%= alert %>  col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2" role="alert">
        <%= msg %>
      </div>
    <% end %>
  <% end %>
  <div class="container">
    <h3 class="font-weight-normal text-center margin-bottom-50"> <%= t('profile.title')%> </h3>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <h4 class="text-center">My info</h4>
        <!-- Snippet -->
        <%= form_for(@user, url: { action: "update_password" }) do |f| %>
          <%= f.label t('login.email') %>
          <%= f.email_field :email, autofocus: true, placeholder: t('login.enter_your_email') %>

          <br>
          <%= f.label t('login.password') %><br />
          <p><i>If you want to update your password, fill the next fields</i></p>
          <%= f.password_field :password, autocomplete: "current-password" %>

          <%= f.label t('login.confirm_new_password') %><br />
          <%= f.password_field :password_confirmation %>

          <%= f.submit t('login.update'), class: "button button-md button-dark margin-top-20" %>
        <%- end %>

      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <h4 class="text-center">Reservations</h4>
        <div class="col-12">
          <%- @reservations.each do |reservation| %>
            <div class="prices-box border-0 bg-white border-radius box-shadow-with-hover margin-top-30">
              <h6 class="font-weight-normal"><%= reservation.room.name %></h6>
              <div class="price">
                <p>
                  <%= truncate(reservation.room.description, length: 100) %>
                </p>
                <!-- <span>monthly</span> -->
              </div>
              <div class="price-features">
                <h4 class="font-weight-normal"><%= "S/#{reservation.total}" %></h4>
                <%- if reservation.approved? %>
                  <%= link_to "Paid | See reservation", reservation_path(reservation), class: "button button-md button-grey button-rounded" %>
                <%- else %>
                  <%= link_to "See Reservation", reservation_path(reservation), class: "button button-md button-dark button-rounded" %>
                <%- end %>
              </div>
            </div>
          <%- end %>
        </div>
      </div>
    </div>
  </div>
</div>
