    <!-- Header -->
    <div class="header rigth absolute-light sticky-autohide">
      <div class="container">
        <!-- Logo -->
        <div class="header-logo">
          <h3><%= image_tag asset_path('logo_text.png') %></h3>
          <!--
          <img class="logo-dark" src="../assets/images/your-logo-dark.png" alt="">
          <img class="logo-light" src="../assets/images/your-logo-light.png" alt="">
          -->
        </div>


        <!-- Menu Extra -->
        <div class="header-menu-extra">
          <div class="text-right">
            <ul class="list-inline">
              <li><a class="no-underline" target="_blanck" href="https://www.facebook.com/nanasqa/"><i class="fab fa-facebook-f"></i></a></li>
              <li><a class="no-underline" target="_blanck" href="https://twitter.com/nanasqa"><i class="fab fa-twitter"></i></a></li>
              <li><a class="no-underline" target="_blanck" href="https://www.instagram.com/nanasqa/"><i class="fab fa-linkedin-in"></i></a></li>

              <%- if user_signed_in? %>
                <li>
                  <a class="nav-link" href="#"> <%= t('global.profile') %> </a>
                  <ul class="nav-dropdown">
                    <li class="nav-dropdown-item"><%= link_to t('header.my_info'), user_path(current_user), class: "nav-dropdown-link" %></li>
                    <li class="nav-dropdown-item"><%= link_to(t('header.logout'), destroy_user_session_path, method: :delete, class: "nav-dropdown-link") %></li>
                  </ul>
                </li>
                <%- else %>
                <li>
                  <%= link_to(new_user_session_path, class: "nav-link no-underline") do %>
                    <i class="fa fa-user"></i>
                  <%- end %>
                </li>
              <%- end %>
            </ul>
          </div>
        </div>
        <!-- Menu Toggle -->
        <button class="header-toggle">
          <span></span>
        </button>
      </div><!-- end container -->
    </div>
    <!-- end Header -->
