    <!-- Header -->
    <div class="header rigth">
      <div class="container">
        <!-- Logo -->
        <div class="header-logo">
          <h3> <%= image_tag asset_path('logo_text.png') %></h3>
          <!--
          <img class="logo-dark" src="../assets/images/your-logo-dark.png" alt="">
          <img class="logo-light" src="../assets/images/your-logo-light.png" alt="">
          -->
        </div>

        <!-- Menu -->
        <div class="header-menu">
          <ul class="nav">
            <li class="nav-item">

              <%- if user_signed_in? %>
                <a class="nav-link" href="#"> <%= t('global.profile') %> </a>
                <ul class="nav-dropdown">
                  <li class="nav-dropdown-item"><%= link_to t('header.my_info'), user_path(current_user), class: "nav-dropdown-link" %></li>
                  <li class="nav-dropdown-item"><%= link_to(t('header.logout'), destroy_user_session_path, method: :delete, class: "nav-dropdown-link") %></li>
                </ul>
              <%- else %>
                <%= link_to(t('header.login'), new_user_session_path, class: "nav-link") %>
              <%- end %>
            </li>
            <li class="nav-item">
              <a class="nav-link no-underline" href="#">Link Only</a>

            </li>
            <li class="nav-item">
              <a class="nav-link no-underline" href="#">Dropdown</a>
              <ul class="nav-dropdown no-underline">
                <li class="nav-dropdown-item"><a class="nav-dropdown-link" href="#">Dropdown Item</a></li>
                <li class="nav-dropdown-item"><a class="nav-dropdown-link" href="#">Dropdown Item</a></li>
                <li class="nav-dropdown-item"><a class="nav-dropdown-link" href="#">Dropdown Item</a></li>
                <li class="nav-dropdown-item"><a class="nav-dropdown-link" href="#">Dropdown Item</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Subdropdown</a>
              <ul class="nav-dropdown">
                <li class="nav-dropdown-item">
                  <a class="nav-dropdown-link" href="#">Dropdown Item</a>
                  <ul class="nav-subdropdown">
                    <li class="nav-subdropdown-item"><a class="nav-subdropdown-link" href="#">Subdropdown Item</a></li>
                    <li class="nav-subdropdown-item"><a class="nav-subdropdown-link" href="#">Subdropdown Item</a></li>
                    <li class="nav-subdropdown-item"><a class="nav-subdropdown-link" href="#">Subdropdown Item</a></li>
                    <li class="nav-subdropdown-item"><a class="nav-subdropdown-link" href="#">Subdropdown Item</a></li>
                  </ul>
                </li>
                <li class="nav-dropdown-item">
                  <a class="nav-dropdown-link" href="#">Dropdown Item</a>
                  <ul class="nav-subdropdown">
                    <li class="nav-subdropdown-item"><a class="nav-subdropdown-link" href="#">Subdropdown Item</a></li>
                    <li class="nav-subdropdown-item"><a class="nav-subdropdown-link" href="#">Subdropdown Item</a></li>
                    <li class="nav-subdropdown-item"><a class="nav-subdropdown-link" href="#">Subdropdown Item</a></li>
                    <li class="nav-subdropdown-item"><a class="nav-subdropdown-link" href="#">Subdropdown Item</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div> -->

        <!-- Menu Extra -->
        <div class="header-menu-extra">
          <ul class="list-inline">
            <li><a class="no-underline" href="https://www.facebook.com/nanasqa/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="no-underline" href="https://twitter.com/nanasqa"><i class="fab fa-twitter"></i></a></li>
            <li><a class="no-underline" href="https://www.instagram.com/nanasqa/"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
        <!-- Menu Toggle -->
        <button class="header-toggle">
          <span></span>
        </button>
      </div><!-- end container -->
    </div>
    <!-- end Header -->
