<!-- Header -->
<%- layout_classes = 'header right absolute-light sticky-autohide' unless local_assigns[:layout_classes] %>
<div class="<%= layout_classes %>">
  <div class="container">
    <!-- Logo -->
    <div class="header-logo">
      <h3>
        <%=link_to(image_tag(asset_path('logo_text.png')), root_path, class:"no-underline") %>
      </h3>

      <!--
      <img class="logo-dark" src="../assets/images/your-logo-dark.png" alt="">
      <img class="logo-light" src="../assets/images/your-logo-light.png" alt="">
      -->
    </div>
    <!-- Menu -->
    <div class="header-menu">
      <ul class="nav list-inline">
        <li class="nav-item">
          <a class="nav-link text-dark font-weight-bold no-underline" href="#">Nanasqa</a>
          <ul class="nav-dropdown">
            <li class="nav-dropdown-item">
              <%= link_to(t('reservation.book_now'), reservations_path, class: 'nav-dropdown-link')%>
              <%= link_to(t('reserve.volunteer'), volunteers_path, class: 'nav-dropdown-link')%>
              <%= link_to(t('reservation.ong'), ongs_path, class: 'nav-dropdown-link')%>
            </li>
          </ul>
        </li>
        <%- if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link text-dark no-underline" href="#"><i class="fa fa-user"></i></a>
            <ul class="nav-dropdown">
              <li class="nav-dropdown-item"><%= link_to t('header.my_info'), users_path, class: "nav-dropdown-link" %></li>
              <li class="nav-dropdown-item"><%= link_to(t('header.logout'), destroy_user_session_path, method: :delete, class: "nav-dropdown-link") %></li>
            </ul>
          </li>
          <%- else %>
          <li class="nav-item">
            <%= link_to(new_user_session_path, class: "nav-link no-underline text-dark") do %>
              <i class="fa fa-user"></i>
            <%- end %>
          </li>
        <%- end %>
        <li class="nav-item">
          <a class="nav-link no-underline text-dark" target="_blanck" href="https://www.facebook.com/nanasqa/">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link no-underline text-dark" target="_blanck" href="https://twitter.com/nanasqa">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link no-underline text-dark" target="_blanck" href="https://www.instagram.com/nanasqa/">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to"EN", url_for( locale: 'en' ), class: "nav-link no-underline font-weight-bold text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "ES", url_for( locale: 'es' ), class: "nav-link no-underline font-weight-bold text-dark" %>
        </li>
      </ul>
    </div>
    <!-- Menu Extra -->
    <!-- <div class="header-menu-extra">
      <ul class="list-inline">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div> -->
    <!-- Menu Toggle -->
    <button class="header-toggle">
      <span></span>
    </button>
  </div><!-- end container -->
</div>
<!-- end Header -->
