<div class="section">
  <%- if flash.any? %>
    <%- flash.each do |type, msg| %>
      <%- alert = type == "alert" ? 'danger' : 'success' %>
      <div class="alert alert-<%= alert %>  col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2" role="alert">
        <%= msg %>
      </div>
    <% end %>
  <% end %>
  <div class="container">
    <h3 class="font-weight-normal text-center margin-bottom-50"> <%= t('reservations.new')%> </h3>
    <div class="row">
      <div class="col-12">
        <div class="col-12">
          <div class="row gallery-wrapper col-spacing-10">
            <div class="owl-carousel" data-owl-nav="true" data-owl-dots="false" data-owl-margin="10" data-owl-xs="1" data-owl-sm="1" data-owl-md="2" data-owl-lg="2" data-owl-xl="2">

              <%- if @room.images.attached? %>
                <%- @room.images.each do |img| %>

                  <div class="col-12 gallery-box">
                    <div class="gallery-img">
                      <a href="<%= asset_path(url_for(img))%>" data-gallery-title="<%= @room.name %>">
                        <img src="<%= asset_path(url_for(img))%>" alt="">
                      </a>
                    </div>
                  </div>

                <%- end %>
              <%- end %>

            </div>
          </div>
        </div>
        <!-- Snippet -->
        <%= form_for(@reservation) do |f| %>
          <%= f.label t('reservations.start_date') %>
          <%= f.date_field :start_date %>

          <%= f.label t('reservations.end_date') %><br />
          <%= f.date_field :end_date %>

          <%= f.label t('reservations.message') %><br />
          <%= f.text_area :message %>

          <%= f.hidden_field(:room_id, value: @room.id) %>

          <%= f.submit t('reservations.create'), class: "button button-md button-dark" %>
        <%- end %>

      </div>
    </div>
  </div>
</div>
