<!DOCTYPE html>
<html lang="en">
  <!-- ***** HEAD ***** -->

  <%= render partial: "shared/head" %>

  <body class="loaded">

    <!-- ***** HEADER ***** -->
    <%= render partial: "shared/header" %>

    <%= yield %>

    <!-- ***** FOOTER ***** -->
    <%= render partial: "shared/footer" %>

    <!-- ***** JAVASCRIPTS ***** -->
    <%= render partial: "shared/javascripts"%>

  </body>

</html>
